<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/exedia"
        android:label="@string/app_name"
        android:roundIcon="@drawable/exedia"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".alphabets_view_loader"
            android:exported="false" />
        <activity
            android:name=".science_view_holder"
            android:exported="false" />
        <activity
            android:name=".history_view_loader"
            android:exported="false" />
        <activity
            android:name=".english_view_loader"
            android:exported="false" />
        <activity
            android:name=".rhymes_view_loader"
            android:exported="false" />
        <activity
            android:name=".excercises_list_layout"
            android:exported="true" />
        <activity
            android:name=".excercises_layout"
            android:exported="true" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>